<div class="flex flex-col">
<div class="h-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
<% @member_requests.each do |member_request| %>
<ul class="py-3 px-8 max-w-md divide-y divide-gray-200 dark:divide-gray-700">
   <li class="py-3 sm:py-4">
      <div class="flex items-center space-x-4 rtl:space-x-reverse">
         <div class="flex-shrink-0">
            <%= image_tag member_request.user.avatar.url, class: "w-8 h-8 rounded-full" %>
         </div>
         <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
               <%= link_to member_request.user.decorate.full_name, team_member_request_path(member_request.team_id, member_request.id) %>
            </p>
            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
               <%= member_request.message_from_requester %>
            </p>
         </div>
      </div>
   </li>
</ul>
<% end %>
</div>
</div>
