<%= render 'search_user_works' %>
<%# 過去の記事のギャラリー表示　%>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <% if @articles.present? %>
    <%= render partial: 'articles/article_wo_fullname', locals: { article: @article } %>
  <% else %>
    <div class="mb-3">過去の投稿がありません</div>
  <% end %>
</div>
<%= paginate @articles %>
