<%= render 'search_user_works' %>
<%# 過去の記事のギャラリー表示　%>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4">
  <% if @my_articles.present? %>
    <%= render partial: 'articles/my_article', locals: { article: @article } %>
    <%= paginate @my_articles %>
  <% else %>
    <div class="mb-3">過去の投稿がありません</div>
  <% end %>
</div>
