<aside class="hidden py-4 md:w-1/3 lg:w-1/4 md:block">
  <div class="sticky flex flex-col gap-2 p-4 text-sm border-r border-indigo-100 top-12">
    <%= link_to t('sidebar.to_profile_page'), profile_path, class: "#{request.path == profile_path || edit_profile_path ? 'text-teal-500 font-bold' : 'text-gray-500'} flex items-center px-3 py-2.5 dark:text-white" %>
    <%= link_to t('sidebar.to_delete_account_page'), "#", class: "flex items-center px-3 py-2.5 text-red-700 dark:text-red-400" %>
  </div>
</aside>
